body,html {
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}

#main_container{
	background-color: #fff;
	width: 100%;
	height: 100%;
}
#main_container #studio_container{
	height: 65px;
	width: 100%;
	min-width: 768px;
}

.header_bar{
	height: 65px;
	width: 100%;
	background-color: #20232a;
	color: #fff;
	line-height: 65px;
	position: relative;
}
.header_bar #logo_container{
	width: 200px;
	height: 65px;
	background: url("/Appac-/images/Login/appac.png") no-repeat center;
	background-size: 40%;
	text-decoration: none;
	cursor: pointer;
	float: left;
	opacity: 0.8;
	z-index: 5;
	display: inline-block;
	position: relative;
}
.header_bar #logo_container:hover{
	opacity: 1;
}
.header_bar #header_container{
	height: 65px;
	float: right;
	overflow: hidden;
	padding-right: 20px;
	display: inline-block;
	opacity: 0.8;
	position: relative;
}
.header_bar #facebook_image_container, 
.header_bar #profile_image_container {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    float: right;
    margin: 12px 0 0 15px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    border: 2px solid transparent;
}
.header_bar #facebook_image_container,
.header_bar #profile_image_container:hover {
    border-color: #EABC00 ;
}
#nav_bar{
	width: 200px;
	height: 100%;
	float: left;
	background-color: #000;
	opacity: 0.9;
}
#nav_bar a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
#nav_bar a img{
	width: 60%;
	padding-left: 40px;
	padding-top: 100%;
	opacity: 0.6;
}
#nav_bar a img:hover{
	opacity: 0.7;
}

.content_container{
	width: calc(100% - 200px);
	height: calc(100% - 65px);
	background-color: #fff;
	float: left;
	overflow-y: scroll;
}

.flex_cards{
	padding: 40px;
	height: calc(100% - 80px);
	position: relative;
	background-color: #f1f1f1;
}

.flex-cards .cards-container{
    padding-bottom: 100px;
}
.flex-cards .cards-container {
    font-size: 0;
}

.cards_container{
	width: 22%;
	margin-left: 2%;
	display: inline-block;
}

.universal_card{
	overflow: hidden;
	margin-bottom: 16px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	margin-top: 5px;
	vertical-align: text-bottom;
}
.universal_card .thumbnail_image{
	width: 100%;
	padding-top: 55%;
	background-size: 100% 100%;
	position: relative;
	cursor: pointer;
}
.universal_card .thumbnail_image 
.hover_icon_container{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons{
	width: 100%;
	height: 60px;
	top: 50%;
	margin-top: -30px;
	text-align: center;
	position: absolute;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons .hover_icon{
	display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    border: 4px solid #fff;
    border-radius: 100px;
    opacity: 0.8;
    position: relative;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons .hover_icon:hover{
	border: 4px solid #EABC00;
}

.universal_card .utility_bar{
    height: 30px;
    z-index: 1;
    position: relative;
}

.bottom_bar_container{
	width: 100%;
	height: 100%;
	position: relative;
}
.bottom_bar_container .bottom_bar{
	height: 100%;
	z-index: 2;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid #f1f1f1;
}
.bottom_bar_container .icon{ 
	width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 6px;
    float: left;
    cursor: pointer;
}
.bottom_bar_container .icon .right{
	float: right;
	margin-right: 0;
	margin-left: 17px;
}
.bottom_bar_container .icon .trash_bar{
    margin-right: 13px;
}

.fa{
	color: #ddd;
}
.fa:hover{
	color: #EFCA52;
}





.menu_moveable{
	-webkit-transition: 0.3s ease-out;
	right: 0;
}
.slide{
	position: absolute;
	opacity: 1;
	width: 100%;
	min-height: 100%;
}

.page_content{
	overflow: hidden;
	letter-spacing: 1px;
}
.page_content iframe{
	position: absolute;
	top: 0;
	left: 0;
}

.container{
	width: 100%;
	margin: auto;
}

div#view_container{
	max-width: 750px;
}

#view_container{
	width: 100%;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
}
#view_container .iframe_container{
	width: 100%;
	height: 0;
	padding-bottom: 56%;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

footer{
	display: block;
}
.footer{
	width: 100%;
	height: 10%;
	background-color: #3c3c3c;
	opacity: .8;
	bottom: 0;
	position: absolute;
}
.footer .for_sure .loaded_footer{
	opacity: 1 !important;
}

