@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  background-size: cover;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  overflow: hidden;
}

body {
    margin: 0;
}

#main_container{
	width: 100%;
	height: 100%;
	min-width: 768px;
}
#studio_container{
	height: 65px;
	width: 100%;
	min-width: 768px;
}

.header_bar{
	height: 65px;
	width: 100%;
	background-color: #20232a;
	color: #fff;
	line-height: 65px;
	position: relative;
}
.header_bar #logo_container{
	width: 200px;
	height: 65px;
	background: url("/Appac-/images/Login/appac.png") no-repeat center;
	background-size: 40%;
	text-decoration: none;
	cursor: pointer;
	float: left;
	opacity: 0.8;
	z-index: 5;
	display: inline-block;
	position: relative;
}
.header_bar #logo_container:hover{
	opacity: 1;
}
.header_bar #header_container{
	height: 65px;
	float: right;
	overflow: hidden;
	padding-right: 25px;
	display: inline-block;
	opacity: 0.8;
	position: relative;
	cursor: pointer;
}
.header_bar #header_container i{
	padding-right: 5px;
}
.header_bar #header_container a{
	color: #fff;
	text-decoration: none !important;
}
.header_bar #header_container a:hover{
	color: #EABC00;
}

.navbar {
    position: relative;
    height: 35px;
    z-index: 1;
    margin-bottom: 25px;
    background: rgba(0,0,0,0.2);
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar_container{
	height: 100%;
	margin: auto;
	padding: 6px 20px;
}


#nav_bar{
	width: 200px;
	height:100%;
	float: left;
	background-color: #000;
	opacity: 0.9;
}
#nav_bar #nav_bar_container{
	width: 200px;
	text-align: center;
}

#nav_bar #nav_bar_container 
.profile_image{
	display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin: 30px 0 20px 0;
    border: 3px solid #f1f1f1;
}
#nav_bar #nav_bar_container 
.profile_image:hover{
	  border: 3px solid #EABC00 ;
}

#nav_bar #nav_bar_container 
.element{
	color: #fff !important;
	text-decoration: none;
	margin-bottom: 10px;
}
.name{
	font-size: 20px;
	height: 40px;
	padding-top: 10px;
	background: rgba(224,181,4,0.5);
}

#nav_bar #nav_bar_container 
.upload{
	margin-top: 20px;
}
#nav_bar #nav_bar_container 
.upload a img{
	width: 40%;
	opacity: 0.4;
	z-index: 5;
	padding-top: 20px;
}
#nav_bar #nav_bar_container 
.upload a img:hover{
	opacity: 0.6;
}

#main_container
.content_container{
    top: 65px;
    left: 200px;
    right: 0;
    bottom: 0.5px;
    position: absolute;
}
@media screen and (max-width: 762px) {
    .content_container{
		width: calc(100% - 200px);
		height: calc(100% - 65px);
		background-color: #fff;
		float: left;
		overflow-y: scroll;
	}
}

.flex_cards{
	padding: 40px;
	height: 100%;
	position: relative;
	background-color: #f1f1f1;
	overflow-y: scroll; 
}
@media screen and (max-width: 768px) {
    .flex_cards{
		padding: 10px;
		height: calc(100% - 50px);
		position: relative;
		background-color: #f1f1f1;
	}
}

.cards-container {
    font-size: 0;
}

.content_card{
	width: 29%;
	margin-left: 3.5%;
	display: inline-block;
}

@media screen and (max-width: 989px) {
    .content_card{
		width: 45%;
		margin-left: 3.5%;
		display: inline-block;
	}
}

.universal_card{
	overflow: hidden;
	margin-bottom: 16px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	margin-top: 5px;
	vertical-align: text-bottom;
}
.universal_card .thumbnail_image{
	width: 100%;
	padding-top: 60%;
	background-size: 100% 100%;
	position: relative;
	cursor: pointer;
}
.universal_card .thumbnail_image 
.hover_icon_container{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0,0,0,0.5);
	z-index: 5;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons{
	width: 100%;
	height: 60px;
	top: 50%;
	margin-top: -30px;
	text-align: center;
	position: absolute;
	z-index: 6;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons .hover_icon{
	display: inline-block;
    width: 55px;
    height: 55px;
    border: 6px solid #fff;
    border-radius: 100px;
    opacity: 0.8;
    position: relative;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons .hover_icon:hover{
	border: 6px solid #EABC00;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons .hover_icon i{
	display: inline-block;
    position: relative;
    margin-top: 8px;
    margin-left: 5px;
    color: #fff;
}
.universal_card .thumbnail_image 
.hover_icon_container .hover_icons .hover_icon i:hover{
    color: #EABC00;
}

.universal_card .utility_bar{
    height: 35px;
    z-index: 5;
    position: relative;
}

.bottom_bar_container{
	width: 100%;
	height: 100%;
	position: relative;
}
.bottom_bar_container .bottom_bar{
	height: 100%;
	z-index: 2;
	position: relative;	
	padding: 5px 5px 0 10px;
	border-top: 1px solid #f1f1f1;
}
.bottom_bar_container .text{
	float: left;
	position: relative;
}
.bottom_bar_container .icon{ 
	width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.fa{
	color: #ababab;
}
.fa:hover{
	color: #EABC00;
}

.page_content{
	overflow: hidden;
	letter-spacing: 1px;
}
.page_content iframe{
	position: absolute;
	top: 0;
	left: 0;
}


#view_container{
	width: 100%;
	background-color: transparent;
	position: relative;
}
#view_container .iframe_container{
	width: 100%;
	height: 0;
	padding-bottom: 56%;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

/*comment*/
.nav {
    /* margin-bottom: 20px; */
    margin-left: 0;
    list-style: none;
    position: fixed;
    font-size: 14px;
    background-color: #fff;
  }
.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs>li>a, .nav-pills>li>a {
    padding-right: 10.5px;
    padding-left: 10.5px;
    margin-right: 2px;
    line-height: 14px;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 0;
  right: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
  /*background: #000;*/
}
/*.menu-opener:hover, .menu-opener.active {
  background: #f1c40f;
}*/

.menu-opener-inner {
  background: #fff;
  height: .2rem;
  margin-left: .5em;
  margin-top: 15px;
  width: 1.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: '';
  display: block;
  height: .18rem;
  width: 1.5rem;
}
.menu-opener-inner:hover, .menu-opener-inner:hover::before, .menu-opener-inner:hover::after{
  background: #000;
}

.menu-opener-inner::before {
  -webkit-transform: translateY(-0.45rem);
  -ms-transform: translateY(-0.45rem);
  transform: translateY(-0.45rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner::before, .menu-opener-inner::after:hover {
  background: #EABC00;
}

.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.2rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.2rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.2rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #fff;
  color: transparent;
  height: calc(100% - 24%);
  position: absolute;
  top: 15.7%;
  right: 0.1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0em;
  z-index: 2;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: 300px;
  height: calc(100% - 24%);
  border: 1px solid #999;
  border-top: transparent;
  border-right: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
}
.menu.active .menu-link {
  color: white;
}

.menu_inner{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-left: 5%;
  padding: 0 8%;
  padding-top: 20%;
}
.menu_inner.active li{
	color: #000;
	width: 100%;
	height: 120px;
	margin-bottom: 25px;
	border: 2px solid #ddd;
	border-radius: 5px;
}
.menu_inner.active li:hover{
	background-color: rgba(241,241,241,0.5);
}

.menu_inner.active li .process{
	width: 100%;
	height: 35px;
	padding: 5px;
}
.menu_inner.active li .process .right{
	float: right;
}
.menu_inner.active li .process .right a{
	padding-right: 5px;
}

.menu_inner.active li .comment{
	width: 100%;
	height: 80px;
	padding: 5px;
}
.menu_inner.active li .comment a{
	cursor: pointer;
}

.menu_inner.active li .profile{
	width: calc(100% - 65%);
	height: 100%;
	padding: 3px;
	float: left;
	border-right: 2px solid #f1f1f1;
}
.menu_inner.active li .profile .image{
	height: calc(100% - 23%);
}

.menu_inner.active li .profile .image img{
	   display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px 0 0 4px;
    overflow: hidden;
} 
.menu_inner.active li .profile .edit{
    height: 23%;
} 
.menu_inner.active li .profile .edit a{
    padding: 0 8px;
    color: #000;
    text-decoration: none; 
    float: left;
} 

.menu_inner.active li .comment_container{
	width: 65%;
	height: 100%;
	padding: 8px;
	float: left;
	color: #000;
}
.menu_inner.active li .comment_container .time{
	height: calc(100% - 80%);
	padding-left: 65px;
	font-size: 15px;
}
.menu_inner.active li .comment_container .ment{
	height: 80%;
	font-size: 13px;
	overflow-y: auto; 
	word-wrap:break-word;
}



/*.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}*/

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}

.jump{
	color: #000 !important;
	text-decoration: none;
}
.jump:hover{
	text-decoration: none;
}