html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
div.video_player {
	text-align: center;
	position: relative;
	padding-bottom: 4%;
}
div.video_player > div {
	display: inline-block;
}
#annotation {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.video_control {
	width: 100%;
	height: 30px;
	padding-top: 1%;
}
.video_control ul {
	list-style: none;
	margin-bottom: 10px;

}
.video_control ul li {
	margin-right: 5px;
	float: left;
	width: 5%;
	border: 1px solid #000;
}
.video_control ul li.progress {
	width: 85%;
	border-radius: 4px;
	background-color: #FFF;
}
.video_control ul li.progress div.bookmark {
	height: 10px;
	position: relative;
}
.video_control ul li.progress div.bookmark a.bookmark {
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #F00;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-image: url('/Appac-/images/pin.png');
}
.video_control ul li.progress div.progress {
	height: 6px;
	background-color: yellow;
	margin-bottom: 5px;
}

div.comment_box {
	/*width: 120px;*/
	/*height: 70px;*/
	margin-top: 3px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000;
	text-align: left;
	text-shadow : none;
	background-color: #fff;
	z-index: 99;
}
div.comment_box label {
	display: inline-block;
}
div.comment_box.no-comment {
	width: 1px;
	height: 1px;
	background: transparent !important;
	border-color: none;
}
div.comment_box textarea {
	border-radius: 8px;
	display: inline-block;
	height: 85px;
	padding: 10px;
	resize: none;
}

div.comment_box .wrp_handwritting {
	display: none;
	width: 100%;
	height: 112px;
}
div.comment_box .wrp_handwritting canvas {
	width: 100%;
	height: 112px;
}

div.comment_box form{
	height: 150px;
	text-align: left;
}

div.comment_box .radio_wrapper {

}

div.comment_box button{
	display: block;
	width: 60px;
	height: 25px;
	border-style: none;
	background-color: yellow;
	border-radius: 2px;
	margin-left: 60px;
}

i.annotation {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #e60000;
	content: "+";
	border-radius: 50%;
}
.handwritting {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.handwritting.below {
	z-index: 1;	
}

.comment,
#addCommentContainer{

	/* Syling the comments and the comment form container */

	padding:10px;
	width:210px;
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	word-wrap: break-word;

	/* CSS3 rounded corners and drop shadows */

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

}
.comment p,
#addCommentContainer p{
	font-size:18px;
	line-height:1.5;
	overflow-x:hidden;
}

#addCommentContainer input[type=text],
#addCommentContainer textarea{

	/* Styling the inputs */

	display:block;
	border:1px solid #ccc;
	font-size:13px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

#addCommentContainer textarea{
	width:200px;
	padding: 5px;
}

label{
	font-size:16px;
	padding-top: 5px;
}

label span.error{
	color:red;
	position:relative;
	right:-10px;
}

#submit,
#reset{

	/* The submit button */

	background-color:#58B9EB;
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:3px;
	margin-top:5px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#submit:hover,
#reset:hover{
	background-color:#80cdf5;
	border-color:#52b1e2;
}

/* The styles below are only necessary for the styling of the demo page: */

#main{
	position:relative;
	margin:0 auto;
	width:220px;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}


#comment {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	color: #fff;
	display: none;
	width: 18%;
	height: 96%;
}